.card{
    -webkit-box-shadow: 0 0 15px #b8b8b4;
	-moz-box-shadow: 0 0 15px #b8b8b4;
	box-shadow: 0 0 15px #b8b8b4;
}
#announcetitle:hover {
    background-color: #D9D9D9;
    border-radius: 5px;
    cursor: pointer;
}

#materialtitle:hover {
    background-color: #D9D9D9;
    border-radius: 5px;
    cursor: pointer;
}
button[name='btn-newfile']{
    /* padding: 10px; */
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}
button[name='btn-newfile']:hover{
    background-color: #00b28f;
}
span[name='file-text']{
    /* margin-left: 10px; */
    font-family: sans-serif;
    color: #aaa;
}
box-icon[name='edit']:hover{
    background-color: #D9D9D9;
    border-radius: 5px;
}
box-icon[name='trash']:hover{
    background-color: #D9D9D9;
    border-radius: 5px;
}