@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(120deg, #b8b8b8, #505066);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    margin: 32vh 50%;
    transform: translate(-195px, -50px);
    width: 400px;
    background: white;
    border-radius: 15px;
}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(19, 16, 16, 0.067);
}
.center form{
    padding: 10px 40px;
    box-sizing: border-box;
}
form .text-field{
    position: relative;
    border-bottom: 2px solid #b1aeae;
    margin: 30px 0;
}
.text-field input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
}
.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.text-field span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    width: 0%;
    height: 2px;
    background: #703434;
    transition: .5s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -5px;
    color: #703434;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
    width: 100%;
    color: #703434;
}
.pass{
    margin: 15px 5px;
    color: #b66b6b;
}
.pass:hover{
    color:#b1aeae;
    text-decoration: underline;
}
input[type='button']{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid;
    background: #505066;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 400;
    outline: none;
}
input[type='button']:hover{
    border-color: #505066;
    transition: .5s;
}
.signup{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup a{
    text-decoration: none;
}
.signup a:hover{
    color:#b1aeae;
    text-decoration: underline;
}