@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header, button span.name{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color:aliceblue;
}
header li a:hover{
    border-radius: 10px;
    background-color: #807C7C;
}
li {
  list-style-type: none;
}
header li:hover{
  border-radius: 10px;
    background-color: #807C7C;
}
li a span.name{
  color:aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}